apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-local-configmap
  labels:
    {{- include "wandb.labels" . | nindent 4 }}
data:
  GLUE_ENABLED: "{{ not .Values.global.glue.enabled }}"
  GORILLA_GLUE_CONTAINER_PORT: "9173"
  HOST: "{{ .Values.global.host }}"

  {{- if ne .Values.global.auth.oidc.clientId ""  }}
  OIDC_CLIENT_ID: {{ .Values.global.auth.oidc.clientId }}
  OIDC_AUTH_METHOD: {{ .Values.global.auth.oidc.authMethod }}
  OIDC_ISSUER: {{ .Values.global.auth.oidc.issuer }}
  {{- end }}

  LOCAL_K8S_SIGNER_SECRET_NAME: "{{ .Release.Name }}-internal-signer"
  LOCAL_K8S_SIGNER_NAMESPACE: "{{ .Release.Namespace }}"
