{{- if or (not .Values.global.mysql.passwordSecret.name) (eq .Values.global.mysql.passwordSecret.name "") }}
{{- $secretName := (include "wandb.mysql.passwordSecret" .)  }}
{{- $secret := (lookup "v1" "Secret" .Release.Namespace $secretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  annotations:
    "helm.sh/resource-policy": "keep"
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
{{- if $secret }}
  MYSQL_ROOT_PASSWORD: {{ $secret.data.MYSQL_ROOT_PASSWORD }}
  MYSQL_PASSWORD: {{ default ($secret.data.MYSQL_PASSWORD) (include "wandb.mysql.password" . | b64enc) }}
{{- else }}
  MYSQL_ROOT_PASSWORD: {{ randAlphaNum 64 | b64enc }}
  MYSQL_PASSWORD: {{ default (randAlphaNum 64) (include "wandb.mysql.password" .) | b64enc }}
{{- end }}

{{- end }}

{{- if and (not kindIs "map" .Values.global.mysql.caCert) (not eq .Values.global.mysql.caCert "") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mysql-ca-cert
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  MYSQL_CA_CERT: {{ .Values.global.mysql.caCert | b64enc }}
{{- end }}
