{{- if and (ne .Values.global.auth.oidc.clientId "") (not .Values.global.auth.oidc.oidcSecret.name) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wandb.oidc.secretSecret" . }}
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  {{ .Values.global.auth.oidc.oidcSecret.secretKey }}: {{ .Values.global.auth.oidc.secret | b64enc }}
---
{{- end }}

{{- if and .Values.app.internalJWTMap (gt (len .Values.app.internalJWTMap) 0) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-oidc-reviewer
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:service-account-issuer-discovery
subjects:
  - kind: Group
    name: system:unauthenticated
    apiGroup: rbac.authorization.k8s.io
{{- end }}
