{{- if not .Values.global.redis.secret.secretName }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "wandb.redis.passwordSecret" . }}"
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  REDIS_PASSWORD: {{ include "wandb.redis.password" . | b64enc }}
  REDIS_CA_CERT: {{ include "wandb.redis.caCert" . | b64enc }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-redis-configmap
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  REDIS_PORT: "{{ include "wandb.redis.port" . }}"
  REDIS_HOST: "{{ include "wandb.redis.host" . }}"
