{{- if not .Values.global.redis.secret.secretName }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "wandb.redis.passwordSecret" (dict "Values" .Values "Release" .Release "redisName" "redis") }}"
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  REDIS_PASSWORD: {{ include "wandb.redis.password" (dict "Values" .Values "Release" .Release "redisName" "redis") | b64enc }}
  REDIS_CA_CERT: {{ include "wandb.redis.caCert" (dict "Values" .Values "Release" .Release "redisName" "redis") | b64enc }}
  REDIS_METADATA_CACHE_PASSWORD: {{ include "wandb.redis.password" (dict "Values" .Values "Release" .Release "redisName" "metadataCache") | b64enc }}
  REDIS_METADATA_CACHE_CA_CERT: {{ include "wandb.redis.caCert" (dict "Values" .Values "Release" .Release "redisName" "metadataCache") | b64enc }}
  REDIS_SETTINGS_CACHE_PASSWORD: {{ include "wandb.redis.password" (dict "Values" .Values "Release" .Release "redisName" "settingsCache") | b64enc }}
  REDIS_SETTINGS_CACHE_CA_CERT: {{ include "wandb.redis.caCert" (dict "Values" .Values "Release" .Release "redisName" "settingsCache") | b64enc }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-redis-configmap
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data: {}

