apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-weave-trace-configmap
  annotations:
    "reflector.v1.k8s.emberstack.com/reflection-allowed": "true"
    "reflector.v1.k8s.emberstack.com/reflection-auto-enabled": "true"
  labels:
      {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  PORT: "8080"
  API_PATH_PREFIX: "/traces"
  WANDB_PUBLIC_BASE_URL: {{ .Values.global.host | quote }}
  {{- if .Values.global.api.enabled }}
  WANDB_BASE_URL: "http://{{ .Release.Name }}-api:8081/"
  {{- else }}
  WANDB_BASE_URL: "http://{{ .Release.Name }}-app:8080/"
  {{- end }}
  WF_TRACE_SERVER_URL: "{{ .Values.global.host }}/traces"
  WF_ENFORCE_PASSWORD_LENGTH: "false"
  WEAVE_ENABLE_ONLINE_EVAL: {{ (get  .Values "weave-trace-worker").install | quote }}
  WEAVE_TRACE_SERVER_BASE_URL: "{{ .Values.global.host }}/traces"
  WANDB_INTERNAL_SERVICE_TOKEN_SECRET_NAME: "weave-worker-auth"
  KAFKA_BROKER_HOST: "bufstream.bufstream.svc.cluster.local"
  KAFKA_BROKER_PORT: "9092"

