apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-weave-trace-configmap
  labels:
      {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  PORT: "8080"
  API_PATH_PREFIX: "/traces"
  WANDB_PUBLIC_BASE_URL: {{ .Values.global.host | quote }}
  WANDB_BASE_URL: "http://{{ .Release.Name }}-app:8080/"
  WF_TRACE_SERVER_URL: "{{ .Values.global.host }}/traces"
  WF_ENFORCE_PASSWORD_LENGTH: "false"
  WEAVE_ENABLE_ONLINE_EVAL: {{ (get  .Values "weave-trace-worker").install | quote }}
  WEAVE_TRACE_SERVER_BASE_URL: "{{ .Values.global.host }}/traces"
  WANDB_INTERNAL_SERVICE_TOKEN_SECRET_NAME: "weave-worker-auth"
  KAFKA_BROKER_HOST: "bufstream.bufstream.svc.cluster.local"
  KAFKA_BROKER_PORT: "9092"

{{ if (get  .Values "weave-trace-worker").install }}
---
{{- $secret := (lookup "v1" "Secret" .Release.Namespace "weave-worker-auth") -}}
{{- $value := "" -}}
{{- if $secret -}}
{{-   $value = index $secret.data "key" -}}
{{- else -}}
{{-   $value = randAlphaNum 32 | b64enc -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: weave-worker-auth
  labels:
    app.kubernetes.io/managed-by: "Helm"
  annotations:
    meta.helm.sh/release-name: "{{ .Release.Name }}"
    meta.helm.sh/release-namespace: "{{ .Release.Namespace }}"
type: Opaque
data:
  key: {{ $value }}
{{ end }}
