---
{{- if .Values.cronJob.exportHistoryToParquet.enabled -}}
{{- $imageCfg := dict "global" $.Values.global.image "local" $.Values.image -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "parquet.fullname" . }}-backfill
  labels:
    app.kubernetes.io/component: "backfill"
    {{- include "wandb.commonLabels" . | nindent 4 }}
    {{- include "parquet.commonLabels" . | nindent 4 }}
    {{- include "parquet.labels" . | nindent 4 }}
    {{- if .Values.cronJob.labels -}}
    {{-   toYaml .Values.cronJob.labels | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.cronJob.annotations -}}
    {{-   toYaml .Values.cronJob.annotations | nindent 4 }}
    {{- end }}
spec:
  schedule: "{{ .Values.cronJob.exportHistoryToParquet.schedule }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/component: "backfill"
            {{- include "wandb.podLabels" . | nindent 12 }}
            {{- include "parquet.commonLabels" . | nindent 12 }}
            {{- include "parquet.podLabels" . | nindent 12 }}
            {{- include "parquet.labels" . | nindent 12 }}
          annotations:
            {{- if .Values.pod.annotations -}}
            {{-   toYaml .Values.pod.annotations | nindent 8 }}
            {{- end }}
        spec:
          {{- if .Values.tolerations }}
          tolerations:
            {{- toYaml .Values.tolerations | nindent 12 }}
          {{- end }}
          {{- include "wandb.nodeSelector" . | nindent 10 }}
          {{- include "wandb.priorityClassName" . | nindent 10 }}
          {{- include "wandb.podSecurityContext" .Values.pod.securityContext | nindent 10 }}
          {{- if .Values.topologySpreadConstraints.enabled }}
            {{- include "wandb.topologySpreadConstraints" (dict "matchLabels" (fromYaml (include "parquet.labels" .))) | nindent 10 }}
          {{- end }}
          containers:
            - name: backfill-job
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              command: [
                "/sbin/my_init",
                "--skip-runit",
                "megabinary",
                "glue",
              ]
              volumeMounts:
                {{- if ne (include "wandb.redis.caCert" .) "" }}
                - name: {{ include "parquet.fullname" . }}-redis-ca
                  mountPath: /etc/ssl/certs/redis_ca.pem
                  subPath: redis_ca.pem
                {{- end }}
              envFrom:
              {{- if .Values.envFrom }}
                {{- tpl (include "parquet.envFrom" . ) . | nindent 16 }}
              {{- end }}
              env:
                - name: GOMEMLIMIT
                  valueFrom:
                    resourceFieldRef:
                      resource: limits.memory
                - name: GORILLA_GLUE_EXECUTE
                  value: "true"
                - name: GORILLA_GLUE_EXECUTE_TASK_NAME
                  value: "EXPORTHISTORYTOPARQUET"
                - name: BUCKET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "{{ (include "wandb.bucket" . | fromYaml).secretName }}"
                      key: "{{ (include "wandb.bucket" . | fromYaml).accessKeyName }}"
                      optional: true
                - name: BUCKET_SECRET_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "{{ (include "wandb.bucket" . | fromYaml).secretName }}"
                      key: "{{ (include "wandb.bucket" . | fromYaml).secretKeyName }}"
                      optional: true
                - name: BUCKET
                  value: "{{ (include "wandb.bucket" . | fromYaml).url }}"
                - name: MYSQL_PORT
                  value: "{{ include "wandb.mysql.port" . }}"
                - name: MYSQL_HOST
                  value: "{{ include "wandb.mysql.host" . }}"
                - name: MYSQL_DATABASE
                  value: "{{ include "wandb.mysql.database" . }}"
                - name: MYSQL_USER
                  value: "{{ include "wandb.mysql.user" . }}"
                - name: MYSQL_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "wandb.mysql.passwordSecret" . }}
                      key:  {{ .Values.global.mysql.passwordSecret.passwordKey }}
                - name: MYSQL
                  value: "mysql://$(MYSQL_USER):$(MYSQL_PASSWORD)@$(MYSQL_HOST):$(MYSQL_PORT)/$(MYSQL_DATABASE)"

                {{- if ne (include "wandb.redis.password" .) "" }}
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "wandb.redis.passwordSecret" . }}
                      key: REDIS_PASSWORD
                {{- end }}
                - name: REDIS_PORT
                  value: "{{ include "wandb.redis.port" . }}"
                - name: REDIS_HOST
                  value: "{{ include "wandb.redis.host" . }}"
                - name: REDIS
                  value: "{{ include "parquet.redis" . | trim }}"

                - name: GORILLA_SETTINGS_CACHE
                  value: "{{ include "parquet.redis" . | trim }}"

                {{- if .Values.global.executor.enabled }}
                - name: GORILLA_TASK_QUEUE
                  value: "{{ include "app.redis" . | trim }}"
                - name: GORILLA_TASK_QUEUE_WORKER_ENABLED
                  value: "false"
                - name: GORILLA_CLEAR_TASK_DEDUPE_KEY_ENABLED
                  value: "false"
                {{- end }}

                - name: GORILLA_PARQUET_ARROW_BUFFER_SIZE
                  value: "2147483648" # 2GB

                - name: WEAVE_SERVICE
                  value: "{{ .Release.Name }}-weave:9994"
                - name: PARQUET_HOST
                  value: "http://{{ .Release.Name }}-parquet:8087"
                - name: PARQUET_ENABLED
                  value: "true"

                {{- if and .Values.global .Values.global.observability }}
                {{- if eq (default "custom" .Values.global.observability.mode) "otel" }}
                - name: GORILLA_STATSD_PORT
                  value: "8125"
                - name: GORILLA_STATSD_HOST
                  value: "0.0.0.0"
                {{- end }}
                {{- end }}

                - name: OPERATOR_ENABLED
                  value: 'true'

                - name: LOGGING_ENABLED
                  value: 'true'

                - name: AZURE_STORAGE_KEY
                  valueFrom:
                    secretKeyRef:
                      {{- with include "wandb.bucket" . | fromYaml }}
                      name: "{{ .secretName }}"
                      key: {{ .accessKeyName }}
                      optional: true
                      {{- end }}
                - name: G_HOST_IP
                  valueFrom:
                    fieldRef:
                      fieldPath: status.hostIP
                {{- include "parquet.extraEnv" (dict "global" $.Values.global "local" .Values) | nindent 16 }}
                {{- include "wandb.extraEnvFrom" (dict "root" $ "local" .) | nindent 16 }}
          serviceAccountName: {{ include "parquet.serviceAccountName" . }}
          volumes:
            {{- if ne (include "wandb.redis.caCert" .) "" }}
            - name: {{ include "parquet.fullname" . }}-redis-ca
              secret:
                secretName: "{{ include "wandb.redis.passwordSecret" . }}"
                items:
                  - key: REDIS_CA_CERT
                    path: redis_ca.pem
            {{- end }}
          restartPolicy: Never
{{- end }}
