apiVersion: v2
name: operator-wandb
description: A Helm chart for deploying W&B to Kubernetes
type: application
version: 0.29.2
appVersion: 1.0.0
icon: https://wandb.ai/logo.svg

maintainers:
  - name: wandb
    email: support@wandb.com
    url: https://wandb.com

dependencies:
  - name: app
    version: "*.*.*"
    repository: file://charts/app
    condition: app.install
  - name: wandb-base
    alias: api
    condition: global.api.enabled
    repository: file://../wandb-base
    version: "*.*.*"
  - name: console
    version: "*.*.*"
    repository: file://charts/console
    condition: console.install
  - name: weave
    version: "*.*.*"
    repository: file://charts/weave
    condition: weave.install
  - name: weave-trace
    version: "*.*.*"
    repository: file://charts/weave-trace
    condition: weave-trace.install
  - name: executor
    version: "*.*.*"
    repository: file://charts/executor
    condition: executor.install
  - name: parquet
    version: "*.*.*"
    repository: file://charts/parquet
    condition: parquet.install
  - name: mysql
    version: "*.*.*"
    repository: file://charts/mysql
    condition: mysql.install
  - name: prometheus
    version: "*.*.*"
    repository: file://charts/prometheus
    condition: prometheus.install
  - name: redis
    version: "18.*.*"
    condition: redis.install
    repository: https://charts.bitnami.com/bitnami
  - name: kafka
    version: "25.*.*"
    condition: kafka.install
    repository: https://charts.bitnami.com/bitnami
  - name: etcd
    version: "10.*.*"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: bufstream.install
  - name: bufstream
    version: "0.3.5"
    repository: file://charts/bufstream
    condition: bufstream.install
  - name: otel
    version: "*.*.*"
    repository: file://charts/otel
    condition: otel.install
  - name: flat-run-fields-updater
    version: "*.*.*"
    repository: file://charts/flat-run-fields-updater
    condition: flat-run-fields-updater.install
  - name: filestream
    version: "*.*.*"
    repository: file://charts/filestream
    condition: filestream.install
  - name: nginx
    version: "*.*.*"
    repository: file://charts/nginx
    condition: nginx.install
  - name: stackdriver
    version: "*.*.*"
    repository: file://charts/stackdriver
    condition: stackdriver.install
  - name: yace
    version: "*.*.*"
    repository: file://charts/yace
    condition: yace.install
  - name: wandb-base
    alias: frontend
    condition: frontend.install
    repository: file://../wandb-base
    version: "*.*.*"
  - name: wandb-base
    alias: glue
    condition: global.glue.enabled
    repository: file://../wandb-base
    version: "*.*.*"
  - name: wandb-base
    alias: settingsMigrationJob
    condition: settingsMigrationJob.install
    repository: file://../wandb-base
    version: "*.*.*"
  - name: reloader
    condition: reloader.install
    version: 1.3.0
    repository: https://stakater.github.io/stakater-charts
