*.tgz
!charts/operator-wandb/charts/redis-18.19.4.tgz
!charts/operator-wandb/charts/etcd-10.7.3.tgz
!charts/operator-wandb/charts/kafka-25.3.5.tgz
!charts/operator-wandb/charts/clickhouse-9.1.0.tgz
.vscode/
dryrun.yaml
license.txt
test-values.yaml
.DS_Store
secret.*.yaml
.idea/

_tmp_*

tilt-settings.json

*secret.ini
