enabled: true

nameOverride: ""
fullnameOverride: ""

image:
  registry: ghcr.io
  repository: nerdswords/yet-another-cloudwatch-exporter
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: v0.60.0

# Tolerations for pod scheduling
tolerations: []

extraEnv: {}
extraEnvFrom: {}

searchTags: {}

config: |-
  apiVersion: v1alpha1
  discovery:
    jobs:
      - type: AWS/ElastiCache
        regions:
        {{- range .Values.regions }}
        - {{ . }}
        {{- end }}
        period: 60
        length: 60
        metrics:
          - name: CPUUtilization
            statistics: [Average]
          - name: FreeableMemory
            statistics: [Average]
          - name: NetworkBytesIn
            statistics: [Average]
          - name: NetworkBytesOut
            statistics: [Average]
          - name: NetworkPacketsIn
            statistics: [Average]
          - name: NetworkPacketsOut
            statistics: [Average]
          - name: SwapUsage
            statistics: [Average]
          - name: CPUCreditUsage
            statistics: [Average]
        {{- if .Values.searchTags }}
        searchTags:
          {{- range $k, $v := .Values.searchTags }}
          - key: {{ $k }}
            value: {{ $v }}
          {{- end }}
        {{- end }}
      - type: AWS/RDS
        regions:
        {{- range .Values.regions }}
        - {{ . }}
        {{- end }}
        period: 60
        length: 60
        metrics:
          - name: CPUUtilization
            statistics: [Maximum]
          - name: DatabaseConnections
            statistics: [Sum]
          - name: FreeableMemory
            statistics: [Average]
          - name: FreeStorageSpace
            statistics: [Average]
          - name: ReadThroughput
            statistics: [Average]
          - name: WriteThroughput
            statistics: [Average]
          - name: ReadLatency
            statistics: [Maximum]
          - name: WriteLatency
            statistics: [Maximum]
          - name: ReadIOPS
            statistics: [Average]
          - name: WriteIOPS
            statistics: [Average]
        {{- if .Values.searchTags }}
        searchTags:
          {{- range $k, $v := .Values.searchTags }}
          - key: {{ $k }}
            value: {{ $v }}
          {{- end }}
        {{- end }}
service:
  type: ClusterIP
  annotations: {}

pod:
  labels: {}
  annotations: {}
  securityContext:
    runAsNonRoot: true
    runAsUser: 999
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"
    seccompProfile:
      type: ""

container:
  securityContext:
    capabilities:
      add: []
      drop: []
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    privileged: false

topologySpreadConstraints:
  enabled: false
  
deployment: {}

serviceAccount:
  create: true

common:
  labels: {}
  annotations: {}

configMap:
  labels: {}
  annotations: {}

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 500m
    memory: 500Mi
