{{- if not .Values.agent.useExternalWandbSecret }}
{{- $root := . -}}
{{- $unique := uniq (append .Values.additionalTargetNamespaces .Release.Namespace) }}
{{- range $ns := $unique }}
---
apiVersion: v1
kind: Secret
metadata:
  name: wandb-api-key-{{ $root.Release.Name }}
  namespace: {{ $ns }}
  labels:
    wandb.ai/created-by: helm-chart
type: kubernetes.io/basic-auth
stringData:
  password: {{ required "Please set agent.apiKey to a W&B API key" $root.Values.agent.apiKey }}
...
{{ end }}

{{- end }}
{{- if .Values.gitCreds }}
---
apiVersion: v1
kind: Secret
metadata:
  name: git-creds
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  .git-credentials: {{ .Values.gitCreds }}
  .gitconfig: |
    [credential]
      helper = store
...
{{ end }}

{{ if .Values.azureStorageAccessKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: azure-storage-access-key
  namespace: wandb
type: kubernetes.io/basic-auth
stringData:
  password: {{ .Values.azureStorageAccessKey }}
{{ end }}
{{- if .Values.additionalSecretEnvVars }}
---
apiVersion: v1
kind: Secret
metadata:
  name: launch-agent-secret-env-vars
  namespace: wandb
type: Opaque
data:
{{- range .Values.additionalSecretEnvVars }}
  {{ .name }}: {{ .value | b64enc | quote }}
{{- end }}
{{- end }}