shellingham==1.5.4
contourpy==1.3.2
pexpect==4.9.0
importlib_metadata==8.5.0
filelock==3.16.1
idna==3.10
jaraco.classes==3.4.0
distlib==0.3.9
kiwisolver==1.4.8
smmap==5.0.1
ptyprocess==0.7.0
poetry-core==1.9.1
RapidFuzz==3.10.0
pillow==11.1.0
zipp==3.20.2
pytz==2025.2
crashtest==0.4.1
GitPython==3.1.43
urllib3==2.2.3
msgpack==1.1.0
requests==2.32.3
python-dotenv==1.1.1
tomlkit==0.13.2
pydantic==2.10.6
gitdb==4.0.11
six==1.16.0
pyparsing==3.2.3
packaging==24.1
tqdm==4.67.1
matplotlib==3.10.3
tzdata==2025.2
pkginfo==1.11.2
decorator==5.2.1
certifi==2024.8.30
cffi==1.17.1
moviepy==2.2.1
wandb==0.21.1
setuptools==65.5.0
pandas==2.3.0
dulwich==0.21.7
setproctitle==1.3.3
poetry==1.8.4
fonttools==4.58.5
more-itertools==10.5.0
python-dateutil==2.9.0.post0
build==1.2.2.post1
pip==23.2.1
xattr==1.1.0
fastjsonschema==2.20.0
protobuf==5.28.2
scipy==1.15.2
sentry-sdk==2.17.0
virtualenv==20.27.0
pydantic_core==2.27.2
imageio-ffmpeg==0.6.0
trove-classifiers==2024.10.21.16
pycparser==2.22
cycler==0.12.1
numpy==2.2.2
imageio==2.37.0
psutil==6.1.0
docker-pycreds==0.4.0
keyring==24.3.1
CacheControl==0.14.0
requests-toolbelt==1.0.0
typing_extensions==4.12.2
installer==0.7.0
PyYAML==6.0.2
charset-normalizer==3.4.0
proglog==0.1.12
pyproject_hooks==1.2.0
platformdirs==4.3.6
poetry-plugin-export==1.8.0
annotated-types==0.7.0
pyarrow==20.0.0
click==8.1.7
cleo==2.1.0
