{{- if .Values.enabled }}
{{- $imageCfg := dict "global" $.Values.global.image "local" $.Values.image -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "redis-exporter.fullname" . }}
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
    {{- include "redis-exporter.commonLabels" . | nindent 4 }}
    {{- include "redis-exporter.labels" . | nindent 4 }}
    {{- if .Values.deployment.labels -}}
    {{-   toYaml .Values.deployment.labels | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "wandb.deploymentAnnotations" $ | nindent 4 }}
    {{- if .Values.deployment.annotations -}}
    {{-   toYaml .Values.deployment.annotations | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "wandb.selectorLabels" $ | nindent 6 }}
      {{- include "redis-exporter.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "wandb.podLabels" . | nindent 8 }}
        {{- include "redis-exporter.commonLabels" . | nindent 8 }}
        {{- include "redis-exporter.podLabels" . | nindent 8 }}
        {{- include "redis-exporter.labels" . | nindent 8 }}
      annotations:
        {{- if .Values.pod.annotations -}}
        {{-   toYaml .Values.pod.annotations | nindent 4 }}
        {{- end }}
    spec:
      {{- if .tolerations }}
      tolerations:
        {{- toYaml .tolerations | nindent 8 }}
      {{- end }}
      {{- include "wandb.nodeSelector" . | nindent 6 }}
      {{- include "wandb.priorityClassName" . | nindent 6 }}
      {{- include "wandb.podSecurityContext" .Values.pod.securityContext | nindent 6 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          volumeMounts:
            {{- if ne (include "wandb.redis.caCert" .) "" }}
            - name: {{ include "app.fullname" . }}-redis-ca
              mountPath: /etc/ssl/certs/redis_ca.pem
              subPath: redis_ca.pem
            {{- end }}
          ports:
            - name: exporter
              containerPort: 9121
              protocol: TCP
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "wandb.redis.secretName" . }}
                  optional: true
                  key: REDIS_PASSWORD
            - name: REDIS_PORT
              value: "{{ include "wandb.redis.port" . }}"
            - name: REDIS_ADDR
              value: "redis://{{ include "wandb.redis.host" . }}:{{ include "wandb.redis.port" . }}"

            {{- if ne (include "wandb.redis.caCert" .) "" }}
            - name: REDIS_EXPORTER_TLS_CA_CERT_FILE
              value: /etc/ssl/certs/redis_ca.pem
            {{- end }}
            - name: REDIS_EXPORTER_DEBUG
              value: 'true'

            {{- include "redis-exporter.extraEnv" (dict "global" $.Values.global "local" .Values) | nindent 12 }}
            {{- include "wandb.extraEnvFrom" (dict "root" $ "local" .) | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: exporter
          readinessProbe:
            httpGet:
              path: /
              port: exporter

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if ne (include "wandb.redis.caCert" .) "" }}
        - name: {{ include "redis-exporter.fullname" . }}-redis-ca
          configMap:
            name: "{{ .Release.Name }}-redis-configmap"
            items:
              - key: REDIS_CA_CERT
                path: redis_ca.pem
        {{- end }}
{{- end }}
