enabled: true

nameOverride: ""
fullnameOverride: ""

image:
  repository: wandb/local
  tag: latest
  pullPolicy: Always

replicas: 1

tolerations: []

extraEnv: {}
extraEnvFrom: {}

extraCors: []

common:
  labels: {}
deployment: {}
cronJob:
  exportHistoryToParquet:
    enabled: true
    schedule: "* * * * *"
serviceAccount:
  create: true
  annotations: {}
clusterRole: {}

service:
  type: ClusterIP

pod:
  securityContext:
    runAsNonRoot: true
    runAsUser: 999
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"
  labels: {}
  annotations: {}

resources:
  # We usually recommend not to specify default resources and to leave this as a
  # conscious choice for the user. This also increases chances charts run on
  # environments with little resources, such as Minikube. If you do want to
  # specify resources, uncomment the following lines, adjust them as necessary,
  # and remove the curly braces after 'resources:'.
  requests:
    cpu: 1
    memory: 2Gi
  limits:
    cpu: 8
    memory: 16Gi
