enabled: true
nameOverride: ""
fullnameOverride: ""

image:
  repository: nginxinc/nginx-unprivileged
  tag: latest
  pullPolicy: Always
  # pullSecrets: []

# Tolerations for pod scheduling
tolerations: []

pod:
  securityContext:
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"
  labels: {}
  annotations: {}

common:
  labels: {}

deployment:
  labels: {}
  annotations: {}

service:
  type: ClusterIP
  annotations: {}
  labels: {}

resources:
  # We usually recommend not to specify default resources and to leave this as a
  # conscious choice for the user. This also increases chances charts run on
  # environments with little resources, such as Minikube. If you do want to
  # specify resources, uncomment the following lines, adjust them as necessary,
  # and remove the curly braces after 'resources:'.
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
    cpu: 4000m
    memory: 8Gi

serviceAccount:
  create: true
configMap: {}
