enabled: true

# These need to be set as well if app name overrides are set
app:
  serviceName: "app"
  clusterDomain: "cluster.local"
  nameOverride: ""
  fullnameOverride: ""

nameOverride: ""
fullnameOverride: ""

image:
  repository: wandb/local
  tag: latest
  pullPolicy: Always

tolerations: []

extraEnv: {}
extraEnvFrom: {}

extraCors: []

common:
  labels: {}
deployment: {}
serviceAccount:
  create: true
  annotations: {}
clusterRole: {}

service:
  type: ClusterIP
  annotations: {}

pod:
  labels: {}
  annotations: {}
  securityContext:
    runAsUser: 999
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"
    seccompProfile:
      type: ""

container:
  securityContext:
    capabilities:
      add: []
      drop: []
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false

resources:
  # We usually recommend not to specify default resources and to leave this as a
  # conscious choice for the user. This also increases chances charts run on
  # environments with little resources, such as Minikube. If you do want to
  # specify resources, uncomment the following lines, adjust them as necessary,
  # and remove the curly braces after 'resources:'.
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 4000m
    memory: 16Gi

cache:
  intervalInHours: 24
  size: 20Gi
  medium: ""

cacheClear:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
