nameOverride: ""
fullnameOverride: ""

redis-exporter:
  install: true

mysql-exporter:
  install: true

stackdriver:
  install: true

instance:
  nameOverride: "prometheus"
  install: true
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  alertmanager:
    enabled: false
  kube-state-metrics:
    enabled: false
