{{- $sizingInfo := fromYaml (include "wandb-base.sizingInfo" .) }}
{{- $hpaSizing := fromYaml (include "wandb-base.sizingInfoHorizontal" .) }}
{{- $kedaSizing := mergeOverwrite $sizingInfo.autoscaling.keda .Values.autoscaling.keda }}
{{- if and $hpaSizing.enabled (not $kedaSizing.enabled) }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "wandb-base.fullname" . }}
  labels:
    {{- include "wandb-base.labels" . | nindent 4 }}
  {{- if (include "wandb-base.commonAnnotations" .) }}
  annotations:
    {{- tpl (include "wandb-base.commonAnnotations" . | nindent 4) . }}
  {{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: {{ .Values.kind }}
    name: {{ include "wandb-base.fullname" . }}{{ include "wandb-base.deploymentPostfix" . }}
  minReplicas: {{ $hpaSizing.minReplicas }}
  maxReplicas: {{ $hpaSizing.maxReplicas }}
  metrics:
    {{- if $hpaSizing.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $hpaSizing.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $hpaSizing.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ $hpaSizing.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
