{{- if .Values.ingress.enabled -}}
{{- if eq .Values.global.cloudProvider "gcp" }}
---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: {{ include "wandb-base.fullname" . }}-frontend-config
  labels:
    {{- include "wandb-base.labels" . | nindent 4 }}
spec:
  redirectToHttps:
    enabled: true
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "wandb-base.fullname" . }}
  labels:
    {{- include "wandb-base.labels" . | nindent 4 }}
  {{- if (or .Values.ingress.annotations (include "wandb-base.commonAnnotations" .) (eq .Values.global.cloudProvider "gcp")) }}
  annotations:
    {{- tpl (include "wandb-base.commonAnnotations" . | nindent 4) . }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{ if eq .Values.global.cloudProvider "gcp" }}
    networking.gke.io/v1beta1.FrontendConfig: {{ include "wandb-base.fullname" . }}-frontend-config
    {{- end }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- with .pathType }}
            pathType: {{ . }}
            {{- end }}
            backend:
              service:
                name: {{ include "wandb-base.fullname" $ }}
                port:
                  name: {{ .port }}
          {{- end }}
    {{- end }}
{{- end }}
