{{- if .Values.role.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ ternary "RoleBinding" "ClusterRoleBinding" (eq .Values.role.type "Role") }}
metadata:
  name: {{ include "wandb-base.fullname" . }}
  labels:
    {{- include "wandb-base.labels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "wandb-base.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: {{ .Values.role.type | default "Role" }}
  name: {{ include "wandb-base.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
