{{- if eq .Values.kind "StatefulSet" }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "wandb-base.fullname" . }}
  labels:
    {{- include "wandb-base.labels" . | nindent 4 }}
  {{- if .Values.addReloaderAnnotations }}
  annotations:
    {{- tpl (include "wandb-base.reloaderAnnotations" . | nindent 4) . }}
    {{- tpl (include "wandb-base.statefulsetAnnotations" . | nindent 4) . }}
  {{- end }}
spec:
  {{- if .Values.service.headless }}
  serviceName: {{ include "wandb-base.fullname" . }}-headless
  {{- end }}
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "wandb-base.selectorLabels" . | nindent 6 }}
  template:
    {{- include "wandb-base.pod" (dict "podData" $.Values "root" $) | nindent 4 }}
{{- end }}
