name: Test wandb-base Chart

on:
  pull_request:
    paths:
      - charts/wandb-base/**
      - test-configs/wandb-base/**

jobs:
  snapshots:
    name: Snapshot testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.17.0
      - name: Helm snapshot build and test
        run: |
          helm plugin install https://github.com/origranot/helm-cascade
          helm cascade build ./charts/wandb-base/
          helm plugin install https://github.com/jlandowner/helm-chartsnap
          ./snapshots.sh run wandb-base
