apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}-config
  labels:
    {{- include "wandb.commonLabels" . | nindent 4 }}
data:
  SLACK_SECRET: {{ default "" .Values.global.slack.secret | b64enc }}
  LICENSE: {{ default "" .Values.global.license | b64enc }}
